<div class="modal-content">
    <div class="modal-header">
      <div class="modal-title h4" id="example-modal-sizes-title-lg">
        Add Client
      </div>
    </div>
    <div class="overlay overlay-block cursor-default modal-body">
        <!-- <div class="overlay-layer bg-transparent">
          <div class="spinner spinner-lg spinner-success"></div>
        </div> -->
  
        <form action="#" class="form form-label-right">
          <div class="form-group row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
              <label class="form-label">Enter CRN</label>
              <input type="text" class="form-control form-control-lg form-control-solid  is-invalid" name="crn"
                placeholder="CRN" autocomplete="off" />
            </div>
            <div class="col-lg-2"></div>
          </div>
        </form>
   
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light btn-elevate mr-2">Cancel</button>
      <button type="submit" class="btn btn-primary btn-elevate">Save</button>
    </div>
  </div>