<div class="modal-content">
    <div class="modal-header">
      <div class="modal-title h4" id="example-modal-sizes-title-lg">
        Add Voucher
      </div>
    </div>
    <div class="overlay overlay-block cursor-default modal-body" style="min-height: 404px;">
        <div class="overlay-layer bg-transparent">
          <div class="spinner spinner-lg spinner-success"></div>
        </div>
  
        <form action="#" class="form form-label-right">
          <div class="form-group row">
            <div class="col-lg-6">
            <div class="form-group row">
              <label class="col-xl-3 col-lg-3 col-form-label">Check Picture</label>
              <div class="col-lg-9 col-xl-6">
                <div class="image-input image-input-outline"
                  id="kt_profile_avatar"
                  [style.backgroundImage]="'url(./assets/media/users/blank.png)'"
                >
                  <div class="image-input-wrapper"></div>
                  <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                    data-action="change"
                    data-toggle="tooltip"
                    title=""
                    data-original-title="Change avatar"
                  >
                    <i class="fa fa-pen icon-sm text-muted"></i>
                    <input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg"  />
                    <input type="hidden" name="profile_avatar_remove" />
                  </label>
                  <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                    data-action="cancel" data-toggle="tooltip" title="" data-original-title="Cancel avatar">
                    <i class="ki ki-bold-close icon-xs text-muted"></i>
                  </span>
                  <span
                    class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                    data-action="remove" data-toggle="tooltip" title="" data-original-title="Remove avatar">
                    <i class="ki ki-bold-close icon-xs text-muted"></i>
                  </span>
                </div>
              </div>
            </div>
            </div>
            <div class="col-lg-6">
              <div class="pay-type">
                  <button class="btn active">Check</button>
                  <button class="btn">Cash</button>
                  <button class="btn">Transition</button>
                  <button class="btn">Card</button>
              </div>
            </div>
            <div class="col-lg-4">
              <label class="form-label">Recieved From</label>
                <p-dropdown [options]="countries" optionLabel="name" [filter]="true" filterBy="name"
                [showClear]="true" placeholder="Select Client"
                class="form-control form-control-lg form-control-solid w-100">
                <ng-template pTemplate="selectedItem">
                    <div class="country-item country-item-value" *ngIf="selectedCountry">
                        <div>{{selectedCountry.name}}</div>
                    </div>
                </ng-template>
                <ng-template let-country pTemplate="item">
                    <div class="country-item">
                        <div>{{country.name}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            </div>
            <div class="col-lg-4">
              <label class="form-label">Prepared By</label>
              <input type="text" class="form-control form-control-lg form-control-solid  is-invalid" name="lastName"
                placeholder="Prepared By" autocomplete="off" />
            </div>
            <div class="col-lg-4">
              <label class="form-label">Amount</label>
              <input type="number" class="form-control form-control-lg form-control-solid" name="email"
                placeholder="amount" autocomplete="off" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4">
              <label class="form-label">Transaction Number</label>
              <input type="number" class="form-control form-control-lg form-control-solid" name="userName" placeholder="Transaction Number"
                autocomplete="off" />
            </div>
            <div class="col-lg-4">
              <label>Date</label>
              <div class="input-group input-group-solid">
                <input type="date" name="dob" class="form-control form-control-lg form-control-solid" autocomplete="off"
                  placeholder="dd/mm/yyyy" ngbDatepicker #d="ngbDatepicker" readonly="true" />
                <div class="input-group-append" (click)="d.toggle()">
                  <span class="input-group-text">
                    <i class="text-dark-50 flaticon-calendar"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <label class="form-label">Check Number</label>
              <input type="text" class="form-control form-control-lg form-control-solid  is-invalid" name="checkNumber"
                placeholder="Check Number" autocomplete="off" />
            </div>
            <div class="col-lg-4">
              <label class="form-label">Bank Name</label>
              <p-dropdown [options]="countries" optionLabel="name" [filter]="true" filterBy="name"
                [showClear]="true" placeholder="Select a Bank"
                class="form-control form-control-lg form-control-solid">
                <ng-template pTemplate="selectedItem">
                    <div class="country-item country-item-value" *ngIf="selectedCountry">
                        <div>{{selectedCountry.name}}</div>
                    </div>
                </ng-template>
                <ng-template let-country pTemplate="item">
                    <div class="country-item">
                        <div>{{country.name}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            </div>
            <div class="col-lg-4">

                <div class="tadween-list d-flex"> 
                    <div class="d-flex">
                        <div class="tadween-list-img">
                            <img alt="store" src="https://live.tadween.app/assets/images/store-setting/1602718738IMG_٢٠٢٠١٠١٥_٠٢٣٨٥٩٧٧١.jpg">
                        </div>
                        <div class="tadween-list-info">
                            <div >
                                <h5>مسوق1</h5>
                                <p >No: 00000163</p>
                            </div>
                        </div>
                    </div>                   
                    
                    <div class="tadween-list-info">
                        <div class="text-right">
                            <h5>92 SAR</h5>
                            <span>partially_paid</span>
                            <span class="aggrement approved">approved</span>
                        </div>
                    </div>
                </div>

            </div>
            
          </div>
          
        </form>
   
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Cancel</button>
      <button type="submit" class="btn btn-primary btn-elevate">Save</button>
    </div>
  </div>