.p-dropdown{width: 100% !important;}
.p-dropdown.p-component.p-dropdown-clearable{width: 100% !important;}
.pay-type{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pay-type button{
    margin: 10px;
    color: rgb(0, 146, 138);
    background-color: transparent;
    padding: 7px 15px;
    border-radius: 7px;
    border: 1px solid rgb(0, 146, 138);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.pay-type button.active,.pay-type button:hover{
    color: #fff;
    background-color: rgb(0, 146, 138);
}