@import "../../../../assets/sass/pages/wizard/wizard-4";
.wizard {
  width: 100% !important;
}
.wizard-step {
  flex: 0 0 calc(33% - 0.25rem) !important;
  width: calc(33% - 0.25rem) !important;
}
.wizard-wrapper {
  padding: 1rem 1.5rem !important;
}
.wizard-step.active {
  background-color: #fff !important;
}

agm-map {
  height: 250px;
  margin-bottom: 1.3rem;
  display: block;
}

.no-bg {
  background-color: transparent;
}
.p-dropdown-mt{margin-top: -10px !important;}