<!--begin: Wizard -->
<div class="wizard wizard-4" id="kt_wizard_v4">
  <!--begin: Form Wizard Nav -->
  <div class="wizard-nav">
    <div class="wizard-steps">
      <a
        class="wizard-step"
        href="javascript:;"
        [ngClass]="{ active: step == 1 }"
      >
        <div class="wizard-wrapper">
          <div class="wizard-number">1</div>
          <div class="wizard-label">
            <div class="wizard-title">Step One</div>
            <div class="wizard-desc">Sterp One Detailes</div>
          </div>
        </div>
      </a>
      <a
        class="wizard-step"
        href="javascript:;"
        [ngClass]="{ active: step == 2 }"
      >
        <div class="wizard-wrapper">
          <div class="wizard-number">2</div>
          <div class="wizard-label">
            <div class="wizard-title">Sterp Two</div>
            <div class="wizard-desc">Sterp Two Detailes</div>
          </div>
        </div>
      </a>
      <a
        class="wizard-step"
        href="javascript:;"
        [ngClass]="{ active: step == 3 }"
      >
        <div class="wizard-wrapper">
          <div class="wizard-number">3</div>
          <div class="wizard-label">
            <div class="wizard-title">Sterp Three</div>
            <div class="wizard-desc">Sterp Three Detailes</div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <!--end: Form Wizard Nav -->

  <div class="card card-custom card-shadowless rounded-top-0">
    <div class="card-body p-0">
      <div class="row justify-content-center py-8 px-8 py-lg-15 px-lg-10">
        <div class="">
          <!--begin: Form Wizard Form-->
          <form class="form mt-0 mt-lg-10" id="kt_form">
            <!--begin: Form Wizard Step 1-->
            <div *ngIf="step == 1" class="pb-5">
              <h4 class="mb-10 font-weight-bold text-dark">
                Enter your Account Details
              </h4>
              <form #f="ngForm" role="form">
                <div class="row">
                  <div class="col-xl-6">
                    <div class="form-group">
                      <label>User Type:</label>
                      <select
                        class="form-control"
                        #userType="ngModel"
                        required="required"
                        name="userType"
                        [(ngModel)]="registerData.type"
                      >
                        <option value="null" disabled selected>
                          Select Type
                        </option>
                        <option [value]="item.value" *ngFor="let item of users">
                          {{ item.label }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <ng-container *ngIf="registerData.type != 5">
                    <div class="col-xl-6">
                      <div class="form-group">
                        <label *ngIf="registerData.type == 1"
                          >Company Name</label
                        >
                        <label *ngIf="registerData.type == 2">Store Name</label>
                        <input
                          type="text"
                          class="form-control"
                          #store_name="ngModel"
                          required="required"
                          minlength="3"
                          name="store_name"
                          [placeholder]="
                            registerData.type == 1
                              ? 'Company'
                              : 'Store' + ' Name'
                          "
                          [(ngModel)]="registerData.store_name"
                        />
                        <span
                          class="form-text text-danger"
                          *ngIf="store_name.touched && !store_name.valid"
                          >Please enter company name.</span
                        >
                      </div>
                    </div>
                    <div class="col-xl-6">
                      <div class="form-group">
                        <label *ngIf="registerData.type == 1">
                          Company Responsible Name</label
                        >
                        <label *ngIf="registerData.type == 2">
                          Store Responsible Name</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          required
                          [(ngModel)]="registerData.store_responsible_name"
                          #store_responsible_name="ngModel"
                          required="required"
                          minlength="3"
                          name="store_responsible_name"
                          [placeholder]="
                            registerData.type == 1
                              ? 'Company  Responsible Name'
                              : 'Store  Responsible Name'
                          "
                        />
                        <span
                          class="form-text text-danger"
                          *ngIf="
                            store_responsible_name.touched &&
                            !store_responsible_name.valid
                          "
                          >Please enter COMPANY RESPONSIBLE NAME.</span
                        >
                      </div>
                    </div>
                    <div class="col-xl-2">
                      <div class="form-group">
                        <label>PreFix</label>
                        <p-dropdown
                          class="w-100 pr-0 form-control form-control-solid no-bg"
                          [options]="countries"
                          [(ngModel)]="selectedCountry"
                          optionLabel="name"
                          [filter]="true"
                          filterBy="name"
                          name="prefix"
                          placeholder="Select a Country"
                        >
                          <ng-template pTemplate="selectedItem">
                            <div
                              class="country-item country-item-value p-dropdown-mt"
                              *ngIf="selectedCountry"
                            >
                              <img
                                [src]="selectedCountry.flag"
                                style="width: 20px"
                              />
                              <div
                                style="display: inline-block; margin-left: 5px"
                              >
                                {{ selectedCountry.name }}
                              </div>
                            </div>
                          </ng-template>
                          <ng-template let-country pTemplate="item">
                            <div class="country-item">
                              <img [src]="country.flag" style="width: 20px" />

                              <div
                                style="display: inline-block; margin-left: 5px"
                              >
                                {{ country.name }}
                              </div>
                            </div>
                          </ng-template>
                        </p-dropdown>
                      </div>
                    </div>

                    <div class="col-xl-4">
                      <div class="form-group">
                        <label>Phone</label>
                        <input
                          type="tel"
                          class="form-control"
                          #phone="ngModel"
                          required="required"
                          [pattern]="mobNumberPattern"
                          name="phone"
                          [(ngModel)]="registerData.phone"
                          placeholder="Mobile Number"
                        />
                        <span
                          class="form-text text-danger"
                          *ngIf="phone.touched && !phone.valid"
                          >Please enter your phone number.</span
                        >
                      </div>
                    </div>
                    <div class="col-xl-6">
                      <div class="form-group">
                        <label>Password</label>
                        <i
                          class="fa showPassword"
                          [ngClass]="inputPassword ? 'fa-eye' : 'fa-eye-slash'"
                          (click)="inputPassword = !inputPassword"
                        ></i>
                        <input
                          class="form-control"
                          [type]="inputPassword ? 'password' : 'text'"
                          #password1="ngModel"
                          required="required"
                          minlength="6"
                          name="Password1"
                          placeholder="Password"
                          [(ngModel)]="new_password"
                        />
                        <span
                          class="form-text text-danger"
                          *ngIf="password1.touched && !password1.valid"
                          >Please enter your Password.</span
                        >
                      </div>
                    </div>
                    <div class="col-xl-6">
                      <div class="form-group">
                        <label>Confirm Password</label>
                        <i
                          class="fa showPassword"
                          [ngClass]="inputPassword2 ? 'fa-eye' : 'fa-eye-slash'"
                          (click)="inputPassword2 = !inputPassword2"
                        ></i>

                        <input
                          [type]="inputPassword2 ? 'password' : 'text'"
                          #password="ngModel"
                          required="required"
                          minlength="6"
                          name="Password"
                          [(ngModel)]="registerData.password"
                          placeholder="Confirm Password"
                          class="form-control"
                        />
                        <span
                          class="form-text text-danger"
                          *ngIf="password.touched && !password.valid"
                          >Please Confirm Password.</span
                        >
                      </div>
                    </div>
                  </ng-container>
                  <div class="col-lg-6" *ngIf="registerData.type == 5">
                    <div
                      class="form-group form-group-default add-mob-num required"
                      [ngClass]="{
                        'has-error': phone.touched && !phone.valid
                      }"
                    >
                      <label> Mobile Number</label>
                      <p-dropdown
                      class="pr-0"
                        [options]="countries"
                        optionLabel="name"
                        [filter]="true"
                        name="code"
                        [(ngModel)]="selectedCountry"
                        [showClear]="true"
                        placeholder="Select a Country"
                      >
                        <ng-template pTemplate="selectedItem">
                          <div
                            class="country-item country-item-value p-dropdown-mt"
                            *ngIf="selectedCountry"
                          >
                            <p>{{ selectedCountry.name }}</p>
                          </div>
                        </ng-template>
                        <ng-template let-country pTemplate="item">
                          <div class="country-item">
                            <img [src]="country.value.flag" />
                            <p>{{ country.value.code }}</p>
                          </div>
                        </ng-template>
                      </p-dropdown>
                      <input
                        type="text"
                        #phone="ngModel"
                        required="required"
                        [pattern]="mobNumberPattern"
                        name="phone"
                        [(ngModel)]="registerData.phone"
                        placeholder="Mobile Number"
                        class="form-control no-shadow"
                      />
                    </div>
                  </div>
                </div>
              </form>
              <div class="d-flex justify-content-end border-top pt-10">
                <div>
                  <button
                    class="btn btn-primary font-weight-bold text-uppercase px-9 py-4"
                    (click)="CheckPassword()"
                    *ngIf="registerData.type != 5"
                    [disabled]="f.invalid"
                  >
                    Next Step
                  </button>
                  <button
                    class="btn btn-primary font-weight-bold text-uppercase px-9 py-4"
                    (click)="findRepresentativePhone(registerData.phone)"
                    *ngIf="registerData.type == 5"
                    [disabled]="f.invalid"
                  >
                    <span>Check </span>
                  </button>
                </div>
              </div>
              <!--end: Form Actions -->
            </div>
            <!--end: Form Wizard Step 1-->

            <!--begin: Form Wizard Step 2-->
            <div class="pb-5" *ngIf="step == 2">
              <h4 class="mb-10 font-weight-bold text-dark">
                Setup Your Address
              </h4>
              <form #f1="ngForm" role="form">
                <div class="row">
                  <div class="col-xl-6">
                    <div class="form-group">
                      <label>VAT Number</label>
                      <input
                        class="form-control"
                        type="number"
                        #vat_number="ngModel"
                        required="required"
                        name="vat_number"
                        pattern="[0-9]{15}"
                        [(ngModel)]="registerData.vat_number"
                        placeholder="Vat Number"
                      />
                      <span
                        class="form-text text-danger"
                        *ngIf="vat_number.touched && !vat_number.valid"
                        >Please enter VAT number</span
                      >
                    </div>
                  </div>
                  <div class="col-xl-6">
                    <div class="form-group">
                      <label>CRN</label>
                      <input
                        type="number"
                        #commercial_registered="ngModel"
                        required="required"
                        name="commercial_registered"
                        pattern="[0-9]{10}"
                        [(ngModel)]="registerData.commercial_registered"
                        max="10"
                        class="form-control"
                        placeholder="CRN (10 digits)"
                      />
                      <span
                        class="form-text text-danger"
                        *ngIf="
                          commercial_registered.touched &&
                          !commercial_registered.valid
                        "
                        >Please enter (10 degitis)</span
                      >
                    </div>
                  </div>
                  <div class="col-xl-6">
                    <div class="form-group">
                      <label>Store Branch Number</label>
                      <input
                        type="number"
                        #branch_id="ngModel"
                        required="required"
                        name="branch_id"
                        [(ngModel)]="registerData.branch_id"
                        placeholder="Store Branch Number "
                        class="form-control"
                      />
                      <span
                        class="form-text text-danger"
                        *ngIf="branch_id.touched && !branch_id.valid"
                        >Please enter store branch number.</span
                      >
                    </div>
                  </div>
                  <div class="col-xl-6">
                    <div class="form-group">
                      <label class="d-block">Owner</label>
                      <div class="d-inline-block mr-4">
                        <input
                          type="radio"
                          class="form-check-input"
                          name="optradio"
                          value="company"
                          id="company"
                          [(ngModel)]="registerData.owner_type"
                        />
                        <span for="company">company</span>
                      </div>
                      <div class="d-inline-block">
                        <input
                          type="radio"
                          name="optradio"
                          [(ngModel)]="registerData.owner_type"
                          value="individual"
                          name="owner"
                          id="individual"
                          checked="true"
                        />
                        <span for="individual">individual</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-6">
                    <div class="form-group">
                      <label *ngIf="registerData.owner_type == 'company'"
                        >Company Name</label
                      >
                      <label *ngIf="registerData.owner_type == 'individual'"
                        >Store Name</label
                      >
                      <input
                        type="text"
                        #owner_name="ngModel"
                        required="required"
                        name="owner_name"
                        minlength="3"
                        placeholder=" Name"
                        class="form-control"
                        [(ngModel)]="registerData.owner_name"
                      />
                      <span
                        class="form-text text-danger"
                        *ngIf="owner_name.touched && !owner_name.valid"
                        >Please enter company name.</span
                      >
                    </div>
                  </div>
                  <div class="col-xl-2">
                    <div class="form-group">
                      <label>PreFix</label>
                      <select class="form-control">
                        <option>Select Country</option>
                        <option>002</option>
                        <option>+997</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-xl-4">
                    <div class="form-group">
                      <label>Phone</label>
                      <input
                        type="text"
                        #contact_info="ngModel"
                        required="required"
                        [pattern]="mobNumberPattern"
                        name="contact_info"
                        placeholder="Mobile Number"
                        class="form-control"
                        [(ngModel)]="registerData.contact_info"
                      />
                      <span
                        class="form-text text-danger"
                        *ngIf="contact_info.touched && !contact_info.valid"
                        >Please enter your phone number.</span
                      >
                    </div>
                  </div>
                </div>
              </form>
              <div class="d-flex justify-content-between border-top pt-10">
                <div class="mr-2">
                  <div
                    class="btn btn-light-primary font-weight-bold text-uppercase px-9 py-4"
                    (click)="step = 1"
                  >
                    Previous
                  </div>
                </div>
                <div>
                  <button
                    class="btn btn-primary font-weight-bold text-uppercase px-9 py-4"
                    (click)="registerStep2()"
                    [disabled]="f1.invalid"
                  >
                    Next Step
                  </button>
                </div>
              </div>
            </div>
            <!--end: Form Wizard Step 2-->

            <!--begin: Form Wizard Step 3-->
            <div class="pb-5" *ngIf="step == 3">
              <div class="row">
                <div class="col-12">
                  <p class="mb-2">
                    <b> Your Location </b>
                  </p>
                  <agm-map
                    [latitude]="mapCenter.lat"
                    [longitude]="mapCenter.lng"
                    [zoom]="zoom"
                    [disableDefaultUI]="false"
                    (mapClick)="mapClicked($event)"
                  >
                    <agm-marker
                      *ngFor="let m of markers; let i = index"
                      (markerClick)="clickedMarker(m.label, i)"
                      [latitude]="m.lat"
                      [longitude]="m.lng"
                      [label]="m.label"
                      [markerDraggable]="m.draggable"
                      (dragEnd)="markerDragEnd(m, $event)"
                    >
                      <agm-info-window>
                        <strong>InfoWindow content</strong>
                      </agm-info-window>
                    </agm-marker>
                  </agm-map>
                </div>
              </div>
              <div class="d-flex justify-content-between border-top pt-10">
                <div class="mr-2">
                  <div
                    class="btn btn-light-primary font-weight-bold text-uppercase px-9 py-4"
                    (click)="step = 2"
                  >
                    Previous
                  </div>
                </div>
                <div>
                  <button
                    class="btn btn-success font-weight-bold text-uppercase px-9 py-4"
                    (click)="create()"
                    [disabled]="!lat && !lng"
                  >
                    Send
                  </button>
                </div>
              </div>
            </div>
            <div *ngIf="step == 4">
              <form #f3="ngForm" role="form">
                <div class="row">
                  <div class="col-lg-6">
                    <div
                      class="form-group form-group-default"
                      [ngClass]="{
                        'has-error': profile_code.touched && !profile_code.valid
                      }"
                    >
                      <label>SMS Code</label>
                      <input
                        type="text"
                        #profile_code="ngModel"
                        required="required"
                        name="profile_code"
                        [(ngModel)]="registerData.profile_code"
                        placeholder=" SMS Code"
                        class="form-control no-shadow"
                      />
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div
                      class="form-group form-group-default"
                      [ngClass]="{
                        'has-error': name.touched && !name.valid
                      }"
                    >
                      <label> Full Name</label>

                      <input
                        type="text"
                        #name="ngModel"
                        required="required"
                        name="name"
                        minlength="3"
                        [(ngModel)]="registerData.name"
                        placeholder=" Full Name"
                        class="form-control no-shadow"
                      />
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div
                      class="form-group form-group-default"
                      [ngClass]="{
                        'has-error':
                          new_password1.touched && !new_password1.valid
                      }"
                    >
                      <i
                        class="fa showPassword"
                        [ngClass]="inputPassword3 ? 'fa-eye' : 'fa-eye-slash'"
                        (click)="inputPassword3 = !inputPassword3"
                      ></i>
                      <label>Password</label>
                      <input
                        [type]="inputPassword3 ? 'password' : 'text'"
                        #new_password1="ngModel"
                        required="required"
                        minlength="6"
                        name="new_password1"
                        [(ngModel)]="new_password"
                        placeholder="Password"
                        class="form-control no-shadow"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div
                      class="form-group form-group-default"
                      [ngClass]="{
                        'has-error': password.touched && !password.valid
                      }"
                    >
                      <i
                        class="fa showPassword"
                        [ngClass]="inputPassword4 ? 'fa-eye' : 'fa-eye-slash'"
                        (click)="inputPassword4 = !inputPassword4"
                      ></i>
                      <label>Confirm Password</label>
                      <input
                        [type]="inputPassword4 ? 'password' : 'text'"
                        #password="ngModel"
                        minlength="6"
                        required="required"
                        name="password"
                        [(ngModel)]="registerData.password"
                        placeholder="Confirm Password"
                        class="form-control no-shadow"
                      />
                    </div>
                  </div>
                </div>
              </form>

              <div class="d-flex justify-content-between">
                <button
                  class="btn btn-primary btn-cons btn-animated from-top fa fa-arrow-left"
                  (click)="step = 1"
                >
                  <span>Previous </span>
                </button>

                <button
                  class="btn btn-success btn-cons btn-animated from-top fa fa-sign-in"
                  (click)="send()"
                  [disabled]="f3.invalid"
                >
                  <span>Finish</span>
                </button>
              </div>
            </div>
            <!--end: Form Wizard Step 3-->

            <!--begin: Form Actions -->
            <!-- <div class="d-flex justify-content-between border-top pt-10">
              <div class="mr-2">
                <div
                  class="btn btn-light-primary font-weight-bold text-uppercase px-9 py-4"
                >
                  Previous
               <div class="col-xl-6">
                <div class="form-group">
                  <label>Comapny Name</label>
                  <input
                    type="text"
                    class="form-control"
                 
                    placeholder="Comapny namr"
                  />
                  <span class="form-text text-muted"
                    >Please enter company name.</span
                  >
                </div>
               </div>
               <div class="col-xl-2">
                <div class="form-group">
                  <label>PreFix</label>
                  <p-dropdown class="w-100 form-control form-control-solid" [options]="countries"   [(ngModel)]="selectedCountry" optionLabel="name" [filter]="true" filterBy="name"
                    placeholder="Select a Country" style="background-color: transparent;">
                    <ng-template pTemplate="selectedItem">
                        <div class="country-item country-item-value" *ngIf="selectedCountry">
                
                    <img [src]="selectedCountry.img" style="width: 20px;">
                            <div style="display: inline-block;
                    margin-left: 5px;">{{selectedCountry.name}}</div>
                        </div>
                    </ng-template>
                    <ng-template let-country pTemplate="item">
                        <div class="country-item">
                    <img [src]="country.img" style="width: 20px;">
                
                            <div style="display: inline-block;
                    margin-left: 5px;">{{country.name}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
                </div>
              </div>
              <div>
                <div
                  class="btn btn-success font-weight-bold text-uppercase px-9 py-4"
                >
                  Submit
                </div>
                <div
                  class="btn btn-primary font-weight-bold text-uppercase px-9 py-4"
                >
                  Next Step
                </div>
              </div>
            </div> -->
            <!--end: Form Actions -->
          </form>
          <a
            [routerLink]="['/auth/login']"
            routerLinkActive="router-link-active"
            class="tadween-color text-center d-block mt-5"
            style="font-size: 20px; font-weight: 600"
          >
            LogIn</a
          >
          <!--end: Form Wizard Form-->
        </div>
      </div>
    </div>
  </div>
</div>
<!--end: Wizard -->
