<!--begin::Signin-->
<div class="login-form login-signin">
  <!--begin::Form-->
  <form class="form" #f="ngForm">
    <!--begin::Title-->
    <div class="pb-13 pt-lg-0 pt-5">
      <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">
        Welcome to Tadween
      </h3>
      <span class="text-muted font-weight-bold font-size-h4"
        >New Here?
        <a
          routerLink="/auth/registration"
          id="kt_login_signup"
          class="text-primary font-weight-bolder"
          >{{ "AUTH.GENERAL.SIGNUP_BUTTON" | translate }}</a
        >
      </span>
    </div>
    <!--end::Title-->

    <!-- begin::Alert error-->
    <ng-container *ngIf="hasError">
      <div
        class="mb-10 alert alert-custom alert-light-danger alert-dismissible"
      >
        <div class="alert-text">The login details are incorrect</div>
      </div>
    </ng-container>
    <!-- end::Alert error-->

    <!--begin::Form group-->
    <div class="form-group">
      <label class="font-size-h6 font-weight-bolder text-dark d-block"
        >Phone</label
      >
      <div class="d-flex">
      <p-dropdown
        class="prefix form-control form-control-solid h-auto py-3 px-3 rounded-lg  d-inline"
        [options]="countries"
        [(ngModel)]="selectedCountry"
        optionLabel="name"
        [filter]="true"
        filterBy="name"
        name="prefix"
        placeholder="Select a Country"
      >
        <ng-template pTemplate="selectedItem">
          <div class="country-item country-item-value" *ngIf="selectedCountry">
            <img [src]="selectedCountry.flag" style="width: 20px" />
            <div style="display: inline-block; margin-left: 5px">
              {{ selectedCountry.name }}
            </div>
          </div>
        </ng-template>
        <ng-template let-country pTemplate="item">
          <div class="country-item">
            <img [src]="country.flag" style="width: 20px" />

            <div style="display: inline-block; margin-left: 5px">
              {{ country.name }}
            </div>
          </div>
        </ng-template>
      </p-dropdown>

      <input
      style="width: calc(100% - 165px);margin-left: 5px;"
        class="form-control form-control-solid h-auto py-3 px-3 rounded-lg  d-inline"
        type="text"
        name="phone"
        #phone="ngModel"
        [(ngModel)]="user.phone"
        required
        placeholder="phone"
        [ngClass]="{ 'is-invalid': phone.touched && !phone.valid }"
      />
    </div>
    </div>
    <!--end::Form group-->

    <!--begin::Form group-->
    <div class="form-group position-relative">
      <div class="d-flex justify-content-between mt-n5">
        <label class="font-size-h6 font-weight-bolder text-dark pt-5"
          >Password</label
        >
      </div>
      <i
        class="fa showPassword"
        [ngClass]="inputPassword ? 'fa-eye' : 'fa-eye-slash'"
        (click)="inputPassword = !inputPassword"
      ></i>
      <input
        class="form-control form-control-solid h-auto py-3 px-3 rounded-lg"
        [type]="inputPassword ? 'password' : 'text'"
        name="password"
        [(ngModel)]="user.password"
        #password="ngModel"
        autocomplete="off"
        [ngClass]="{ 'is-invalid': password.touched && !password.valid }"
      />
    </div>
    <!--end::Form group-->

    <!--begin::Action-->
    <div class="pb-lg-0 pb-5">
      <button
        type="submit"
        id="kt_login_signin_submit"
        class="btn btn-tadween font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3"
        [disabled]="f.invalid"
        (click)="loginForm()"
      >
        Sign In
      </button>

      <ng-container *ngIf="isLoading">
        <span class="spinner spinner-primary ml-5"></span>
      </ng-container>
    </div>
    <!--end::Action-->
  </form>
  <!--end::Form-->
</div>
<!--end::Signin-->

<!-- <ng-container
  [ngTemplateOutlet]="dd"
  [ngTemplateOutletContext]="{
    message: 'Password should have maximum 100 symbols'
  }"
></ng-container>
<ng-template #dd let-message="message">
  <ng-container>
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template> -->
