<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4" id="example-modal-sizes-title-lg">
      Add Product
    </div>
  </div>
  <div class="overlay overlay-block cursor-default modal-body" style="min-height: 404px;">
      <!-- <div class="overlay-layer bg-transparent">
        <div class="spinner spinner-lg spinner-success"></div>
      </div> -->

      <form action="#" class="form form-label-right" [formGroup]="formGroup">
        <div class="form-group row">
          <div class="col-lg-3"></div>
          <div class="col-lg-6">
          <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label">Check Picture</label>
            <div class="col-lg-9 col-xl-6">
              <div class="image-input image-input-outline"
                id="kt_profile_avatar"
                [style.backgroundImage]="'url(./assets/media/users/blank.png)'"
              >
                <div class="image-input-wrapper"></div>
                <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                  data-action="change"
                  data-toggle="tooltip"
                  title=""
                  data-original-title="Change avatar"
                >
                  <i class="fa fa-pen icon-sm text-muted"></i>
                  <input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg"  />
                  <input type="hidden" name="profile_avatar_remove" formControlName="pic" />
                </label>
                <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                  data-action="cancel" data-toggle="tooltip" title="" data-original-title="Cancel avatar">
                  <i class="ki ki-bold-close icon-xs text-muted"></i>
                </span>
                <span
                  class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                  data-action="remove" data-toggle="tooltip" title="" data-original-title="Remove avatar">
                  <i class="ki ki-bold-close icon-xs text-muted"></i>
                </span>
              </div>
            </div>
          </div>
          </div>
          <div class="col-lg-3"></div>
          
          <div class="col-lg-4">
            <label class="form-label">Product Name</label>
            <input type="text" class="form-control form-control-lg form-control-solid  is-invalid" name="name"
              placeholder="Name" autocomplete="off" />
          </div>
          <div class="col-lg-4">
            <label class="form-label">Category</label>
            <input type="text" class="form-control form-control-lg form-control-solid  is-invalid" name="category"
              placeholder="Category" autocomplete="off" />
          </div>
          <div class="col-lg-4">
            <label class="form-label">Price</label>
            <input type="number" class="form-control form-control-lg form-control-solid" name="price"
              placeholder="price" autocomplete="off" />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-4">
            <label class="form-label">Stock</label>
            <input type="number" class="form-control form-control-lg form-control-solid" name="stock"
              placeholder="stock" autocomplete="off" />
          </div>
          <div class="col-lg-4">
            <label class="form-label">BarCode</label>
            <input type="number" class="form-control form-control-lg form-control-solid" name="barcode"
              placeholder="Barcode" autocomplete="off" />
          </div>
        </div>
      </form>
 
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Cancel</button>
    <button type="submit" class="btn btn-primary btn-elevate">Save</button>
  </div>
</div>