<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Products list</h3>
    </div>
    <div class="card-toolbar">
      <button type="button" class="btn btn-tadween" (click)="createClient()">
        New Product
      </button>
    </div>
  </div>
  <div class="card-body">
    <!-- begin: Filtration form -->
    <div class="form form-label-right">
      <div class="form-group row">
        <div class="col-lg-4">
          <div class="row" [formGroup]="filterGroup">
            <div class="col-lg-6">
              <select
                class="form-control"
                name="status"
                placeholder="Filter by Status"
                formControlName="status"
              >
                <option value="">All</option>
                <option value="1">Susspended</option>
                <option value="2">Active</option>
                <option value="3">Pending</option></select
              ><small class="form-text text-muted"
                ><b>Filter</b> by Status</small
              >
            </div>
            <div class="col-lg-6">
              <select
                class="form-control"
                placeholder="Filter by Type"
                name="type"
                formControlName="type"
              >
                <option value="">All</option>
                <option value="1">Business</option>
                <option value="2">Individual</option></select
              ><small class="form-text text-muted"><b>Filter</b> by Type</small>
            </div>
          </div>
        </div>
        <div class="col-lg-2" [formGroup]="searchGroup">
          <input
            type="text"
            class="form-control"
            name="searchText"
            placeholder="Search"
            value=""
            formControlName="searchTerm"
          /><small class="form-text text-muted"
            ><b>Search</b> in all fields</small
          >
        </div>
      </div>
    </div>
    <!-- end: Filtration form -->

    <!-- begin: Grouping -->
    <!-- end: Grouping -->

    <!-- begin:Table -->
    <div class="table-responsive angular-bootstrap-table">
      <table
        class="table table-head-custom table-vertical-center overflow-hidden"
      >
        <thead>
          <th>
            Image
            <app-sort-icon
              column="id"
              [activeColumn]="sorting.column"
              [activeDirection]="sorting.direction"
              (sort)="sort($event)"
            ></app-sort-icon>
          </th>
          <th>
            Name
            <app-sort-icon
              column="firstName"
              [activeColumn]="sorting.column"
              [activeDirection]="sorting.direction"
              (sort)="sort($event)"
            ></app-sort-icon>
          </th>
          <th>
            Category
            <app-sort-icon
              column="lastName"
              [activeColumn]="sorting.column"
              [activeDirection]="sorting.direction"
              (sort)="sort($event)"
            ></app-sort-icon>
          </th>
          <th>
            Price
            <app-sort-icon
              column="email"
              [activeColumn]="sorting.column"
              [activeDirection]="sorting.direction"
              (sort)="sort($event)"
            ></app-sort-icon>
          </th>
          <th>
            Stock
            <app-sort-icon
              column="gender"
              [activeColumn]="sorting.column"
              [activeDirection]="sorting.direction"
              (sort)="sort($event)"
            ></app-sort-icon>
          </th>
          <th>
            BarCode
            <app-sort-icon
              column="gender"
              [activeColumn]="sorting.column"
              [activeDirection]="sorting.direction"
              (sort)="sort($event)"
            ></app-sort-icon>
          </th>
          <th>ACTIONS</th>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let customer of customerService.items$ | async">
            <td>{{ customer.id }}</td>
            <td>{{ customer.firstName }}</td>
            <td>{{ customer.lastName }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.gender }}</td>
            <td>
              <span class="label label-lg label-inline" [class.label-light-danger]="customer.status === 1"
                [class.label-light-success]="customer.status === 2" [class.label-light-primary]="customer.status === 3">
                <ng-container *ngIf="customer.status === 1">Suspended</ng-container>
                <ng-container *ngIf="customer.status === 2">Active</ng-container>
                <ng-container *ngIf="customer.status === 3">Pending</ng-container>
              </span>
            </td>
            <td>
              <span class="label label-dot label-primary mr-2" [class.label-success]="customer.type === 1"
                [class.label-primary]="customer.type === 2"></span>&nbsp;<span class="font-bold font-primary">
                <ng-container *ngIf="customer.type === 1">Business</ng-container>
                <ng-container *ngIf="customer.type === 2">Individual</ng-container>
              </span>
            </td>
            <td>

              <a title="Edit customer" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3"
                (click)="edit(customer.id)">
                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-primary">
                </span>
              </a>

              <a title="Delete customer" class="btn btn-icon btn-light btn-hover-danger btn-sm"
                (click)="delete(customer.id)">
                <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-danger">
                </span>
              </a>
            </td>
          </tr> -->
          <tr>
            <td>
              <img src="../../../assets/img/egypt.svg" style="width: 50px" />
            </td>
            <td>Product1</td>
            <td>Building</td>
            <td>200 SAR</td>
            <td>2501</td>
            <td>1236547890</td>
            <td>
              <a
                (click)="createClient()"
                title="Edit Product"
                class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3"
              >
                <span
                  [inlineSVG]="
                    './assets/media/svg/icons/Communication/Write.svg'
                  "
                  cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-primary"
                >
                </span>
              </a>

              <a
                title="Delete customer"
                class="btn btn-icon btn-light btn-hover-danger btn-sm"
              >
                <span
                  [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'"
                  cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-danger"
                >
                </span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- end: Table -->
    <app-paginator
      class="d-flex justify-content-between align-items-center flex-wrap"
      [paginator]="paginator"
      [isLoading]="isLoading"
      (paginate)="paginate($event)"
    ></app-paginator>
  </div>
</div>
