<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4" id="example-modal-sizes-title-lg">
      Add Invoice
    </div>
  </div>
  <div
    class="overlay overlay-block cursor-default modal-body"
    style="min-height: 404px"
  >
    <form action="#" class="form form-label-right" *ngIf="step == 1">
      <div class="form-group row">
        <div class="col-lg-4">
          <label class="form-label">Select Store</label>
          <p-dropdown
            [options]="countries"
            [(ngModel)]="selectedCountry"
            name="storeName"
            optionLabel="name"
            [filter]="true"
            filterBy="name"
            [showClear]="true"
            placeholder="Select Store"
            class="form-control form-control-lg form-control-solid"
          >
            <ng-template pTemplate="selectedItem">
              <div
                class="country-item country-item-value"
                *ngIf="selectedCountry"
              >
                <div>{{ selectedCountry.name }}</div>
              </div>
            </ng-template>
            <ng-template let-country pTemplate="item">
              <div class="country-item">
                <div>{{ country.name }}</div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
        <div class="col-lg-4">
          <label>PayMent Method</label>
          <div class="form-control form-control-lg form-control-solid">
            <div class="d-inline-block mr-4">
              <input type="radio" id="paynow" value="paynow" name="payment" />
              <span class="mx-2" for="paynow">Pay Now</span>
            </div>
            <div class="d-inline-block">
              <input type="radio" id="paylater" value="paylater" name="payment" />
              <span class="mx-2" for="paylater">Pay Later</span>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <label>Discount</label>
          <div class="form-control form-control-lg form-control-solid">
            <div class="d-inline-block mr-4">
              <input type="radio" id="company" value="company" name="discount" />
              <span class="mx-2" for="company">Value</span>
            </div>
            <div class="d-inline-block">
              <input type="radio" id="individual" value="individual" name="discount" />
              <span class="mx-2" for="individual">Percentage</span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-lg-4">
          <label class="form-label">Select Product</label>
          <p-dropdown
            [options]="countries"
            [(ngModel)]="selectedCountry"
            name="product"
            optionLabel="name"
            [filter]="true"
            filterBy="name"
            [showClear]="true"
            placeholder="Select Product"
            class="form-control form-control-lg form-control-solid"
          >
            <ng-template pTemplate="selectedItem">
              <div
                class="country-item country-item-value"
                *ngIf="selectedCountry"
              >
                <div>{{ selectedCountry.name }}</div>
              </div>
            </ng-template>
            <ng-template let-country pTemplate="item">
              <div class="country-item">
                <div>{{ country.name }}</div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>        
        <div class="col-lg-4">
          <label>Date</label>
          <div class="input-group input-group-solid">
            <input
              type="date"
              name="dob"
              class="form-control form-control-lg form-control-solid"
              autocomplete="off"
              placeholder="dd/mm/yyyy"
              ngbDatepicker
              #d="ngbDatepicker"
              readonly="true"
            />
            <div class="input-group-append" (click)="d.toggle()">
              <span class="input-group-text">
                <i class="text-dark-50 flaticon-calendar"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <label class="form-label">Discount Value</label>
          <input
            type="number"
            class="form-control form-control-lg form-control-solid"
            name="discount"
            placeholder="Value"
            autocomplete="off"
          />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-lg-4">
          <div class="tadween-list d-flex"> 
              <div class="d-flex">
                  <div class="tadween-list-img">
                      <img alt="store" src="https://live.tadween.app/assets/images/store-setting/1602718738IMG_٢٠٢٠١٠١٥_٠٢٣٨٥٩٧٧١.jpg">
                  </div>
                  <div class="tadween-list-info">
                      <div >
                          <h5>مسوق1</h5>
                      </div>
                  </div>
              </div>                   
            
              <div class="tadween-list-info">
                  <div class="text-right">
                      <p>Building</p>
                      <span>92 SAR</span>
                  </div>
              </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="tadween-list d-flex"> 
              <div class="d-flex">
                  <div class="tadween-list-img">
                      <img alt="store" src="https://live.tadween.app/assets/images/store-setting/1602718738IMG_٢٠٢٠١٠١٥_٠٢٣٨٥٩٧٧١.jpg">
                  </div>
                  <div class="tadween-list-info">
                      <div >
                          <h5>مسوق1</h5>
                      </div>
                  </div>
              </div>                   
            
              <div class="tadween-list-info">
                  <div class="text-right">
                      <p>Building</p>
                      <span>92 SAR</span>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </form>
    <div *ngIf="step == 2">
      <div class="row">
        <div class="col-lg-6">
          <div class="invoice-info">
            <h4>Invoice Info</h4>
            <div class="info">
              <h6>Full Name</h6>
              <p>name</p>
            </div>
            <div class="info">
              <h6>Payment Method</h6>
              <p>Massouk</p>
            </div>
            <div class="info">
              <h6>Phone</h6>
              <p>01236985</p>
            </div>
            <div class="info">
              <h6>Discount</h6>
              <p>12</p>
            </div>
            <div class="info">
              <h6>Payment  Date</h6>
              <p>1/1/2020</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="list-container">
            <h4>Products</h4>
            <div class="tadween-list d-flex"> 
              <div class="d-flex">
                  <div class="tadween-list-img">
                      <img alt="store" src="https://live.tadween.app/assets/images/store-setting/1602718738IMG_٢٠٢٠١٠١٥_٠٢٣٨٥٩٧٧١.jpg">
                  </div>
                  <div class="tadween-list-info">
                      <div >
                          <h5>مسوق1</h5>
                      </div>
                  </div>
              </div>                   
              
              <div class="tadween-list-info">
                  <div class="text-right">
                      <p>Building</p>
                      <span>92 SAR</span>
                  </div>
              </div>
          </div>
          <div class="tadween-list d-flex"> 
            <div class="d-flex">
                <div class="tadween-list-img">
                    <img alt="store" src="https://live.tadween.app/assets/images/store-setting/1602718738IMG_٢٠٢٠١٠١٥_٠٢٣٨٥٩٧٧١.jpg">
                </div>
                <div class="tadween-list-info">
                    <div >
                        <h5>مسوق1</h5>
                        <p >No: 00000163</p>
                    </div>
                </div>
            </div>                   
            
            <div class="tadween-list-info">
                <div class="text-right">
                  <p>Building</p>
                  <span>92 SAR</span>
                </div>
            </div>
        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
    *ngIf="step == 2"
      type="button"
      class="btn btn-light btn-elevate mr-2"
      (click)="stepOne()"
    >
      Back
    </button>
    <button *ngIf="step == 1" type="submit" class="btn btn-primary btn-elevate" (click)="stepTwo()">Next</button>
    <button *ngIf="step == 2" type="submit" class="btn btn-primary btn-elevate">Confirm</button>
  </div>
</div>
