<div class="modal-content">
    <div class="modal-header">
      <div class="modal-title h4" id="example-modal-sizes-title-lg">
        Add Representative
      </div>
    </div>
    <div class="overlay overlay-block cursor-default modal-body">
        <!-- <div class="overlay-layer bg-transparent">
          <div class="spinner spinner-lg spinner-success"></div>
        </div> -->
  
        <form action="#" class="form form-label-right">
          <div class="form-group row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
            <div class="form-group row">
              <label class="col-xl-3 col-lg-3 col-form-label">Iqama ID picture</label>
              <div class="col-lg-9 col-xl-6">
                <div class="image-input image-input-outline"
                  id="kt_profile_avatar"
                  [style.backgroundImage]="'url(./assets/media/users/blank.png)'"
                >
                  <div class="image-input-wrapper"></div>
                  <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                    data-action="change"
                    data-toggle="tooltip"
                    title=""
                    data-original-title="Change avatar"
                  >
                    <i class="fa fa-pen icon-sm text-muted"></i>
                    <input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg"  />
                    <input type="hidden" name="profile_avatar_remove" />
                  </label>
                  <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                    data-action="cancel" data-toggle="tooltip" title="" data-original-title="Cancel avatar">
                    <i class="ki ki-bold-close icon-xs text-muted"></i>
                  </span>
                  <span
                    class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                    data-action="remove" data-toggle="tooltip" title="" data-original-title="Remove avatar">
                    <i class="ki ki-bold-close icon-xs text-muted"></i>
                  </span>
                </div>
              </div>
            </div>
            </div>
            <div class="col-lg-3"></div>
            
            <div class="col-lg-6">
              <label class="form-label">National / Iqama ID</label>
              <input type="text" class="form-control form-control-lg form-control-solid  is-invalid" name="national"
                placeholder="national / iqama ID" autocomplete="off" />
            </div>
            <div class="col-lg-6">
              <label class="form-label">Representative Full Name</label>
              <input type="text" class="form-control form-control-lg form-control-solid  is-invalid" name="representativeName"
                placeholder="Representative" autocomplete="off" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-6">
                <label class="form-label">Owner Mobile Number</label>
                <div class="d-flex">
                    <p-dropdown class="prefix form-control form-control-solid d-inline" [options]="countries"   [(ngModel)]="selectedCountry" optionLabel="name" [filter]="true" filterBy="name"
                    placeholder="Select a Country">
                    <ng-template pTemplate="selectedItem">
                        <div class="country-item country-item-value" *ngIf="selectedCountry">
                
                    <img [src]="selectedCountry.img" style="width: 20px;">
                            <div style="display: inline-block;
                    margin-left: 5px;">{{selectedCountry.name}}</div>
                        </div>
                    </ng-template>
                    <ng-template let-country pTemplate="item">
                        <div class="country-item">
                    <img [src]="country.img" style="width: 20px;">
                
                            <div style="display: inline-block;
                    margin-left: 5px;">{{country.name}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            
                    <input
                        style="width: calc(100% - 165px);margin-left: 5px;"
                        class="form-control form-control-solid d-inline"
                        type="number"
                        name="phone"
                        autocomplete="off"
                    />
                  </div>
              </div>
        </div>
        </form>
   
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Cancel</button>
      <button type="submit" class="btn btn-primary btn-elevate">Save</button>
    </div>
  </div>