<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Clients list</h3>
    </div>
    <div class="card-toolbar">
      <button type="button" class="btn btn-primary" (click)="createClient()">New Client</button>
    </div>
  </div>
  <div class="card-body">
    <!-- begin: Filtration form -->
    <div class="form form-label-right">
      <div class="form-group row">
        <div class="col-lg-4">
          <div class="row" [formGroup]="filterGroup">
            <div class="col-lg-6">
              <select class="form-control" name="status" placeholder="Filter by Status" formControlName="status">
                <option value="">All</option>
                <option value="1">Susspended</option>
                <option value="2">Active</option>
                <option value="3">Pending</option>
              </select><small class="form-text text-muted"><b>Filter</b> by Status</small>
            </div>
            <div class="col-lg-6">
              <select class="form-control" placeholder="Filter by Type" name="type" formControlName="type">
                <option value="">All</option>
                <option value="1">Business</option>
                <option value="2">Individual</option>
              </select><small class="form-text text-muted"><b>Filter</b> by Type</small>
            </div>
          </div>
        </div>
        <div class="col-lg-2" [formGroup]="searchGroup">
          <input type="text" class="form-control" name="searchText" placeholder="Search" value=""
            formControlName="searchTerm" /><small class="form-text text-muted"><b>Search</b> in all fields</small>
        </div>
      </div>
    </div>
    <!-- end: Filtration form -->

    <!-- begin: Grouping -->
    <!-- end: Grouping -->

    <!-- begin:Table -->
    <div class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center overflow-hidden">
        <thead>
          <th>
            Image
            <app-sort-icon column="id" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>
            Name
            <app-sort-icon column="firstName" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>
            Branch
            <app-sort-icon column="lastName" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>
            Store Name
            <app-sort-icon column="email" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>
            Store Owner Name
            <app-sort-icon column="gender" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>ACTIONS</th>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let customer of customerService.items$ | async">
            <td>{{ customer.id }}</td>
            <td>{{ customer.firstName }}</td>
            <td>{{ customer.lastName }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.gender }}</td>
            <td>
              <span class="label label-lg label-inline" [class.label-light-danger]="customer.status === 1"
                [class.label-light-success]="customer.status === 2" [class.label-light-primary]="customer.status === 3">
                <ng-container *ngIf="customer.status === 1">Suspended</ng-container>
                <ng-container *ngIf="customer.status === 2">Active</ng-container>
                <ng-container *ngIf="customer.status === 3">Pending</ng-container>
              </span>
            </td>
            <td>
              <span class="label label-dot label-primary mr-2" [class.label-success]="customer.type === 1"
                [class.label-primary]="customer.type === 2"></span>&nbsp;<span class="font-bold font-primary">
                <ng-container *ngIf="customer.type === 1">Business</ng-container>
                <ng-container *ngIf="customer.type === 2">Individual</ng-container>
              </span>
            </td>
            <td>

              <a title="Edit customer" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3"
                (click)="edit(customer.id)">
                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-primary">
                </span>
              </a>

              <a title="Delete customer" class="btn btn-icon btn-light btn-hover-danger btn-sm"
                (click)="delete(customer.id)">
                <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-danger">
                </span>
              </a>
            </td>
          </tr> -->
          <tr>
            <td>
              <img src="../../../assets/img/egypt.svg" style="width: 50px;">
            </td>
            <td>Client Ahmed</td>
            <td>2020</td>
            <td>first store</td>
            <td>Mohsen</td>
            <td>
              <a (click)="open(content)" title="Edit customer" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3">
                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-primary">
                </span>
              </a>

              <a title="Delete customer" class="btn btn-icon btn-light btn-hover-danger btn-sm">
                <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-danger">
                </span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- end: Table -->
    <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator"
      [isLoading]="isLoading" (paginate)="paginate($event)"></app-paginator>
  </div>
</div>



<div id="clientInfoModal" class="client w-60">
  <div class="example-preview">
    <div>
      <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Client Info</h4>
          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="d('Cross click')"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body p-0">
          <div class="card card-custom card-stretch gutter-b">
            <!-- Body -->
            <div class="card-body pt-4">
              <div class="timeline timeline-6 mt-3">
                <h4>General Info</h4>
                <!--begin::Item-->
                <div class="timeline-item align-items-start">
                  <!--begin::Label-->
                  <div class="timeline-label font-weight-bolder text-dark-75 font-size-lg">
                  Store Responsible name
                  </div>
                  <!--end::Label-->
          
                  <!--begin::Badge-->
                  <div class="timeline-badge">
                    <i class="fa fa-genderless text-warning icon-xl"></i>
                  </div>
                  <!--end::Badge-->
          
                  <!--begin::Text-->
                  <div class="font-weight-mormal font-size-lg timeline-content text-muted pl-3">
                    Massouk 1
                  </div>
                  <!--end::Text-->
                </div>
                <!--end::Item-->
          
                <!--begin::Item-->
                <div class="timeline-item align-items-start">
                  <!--begin::Label-->
                  <div class="timeline-label font-weight-bolder text-dark-75 font-size-lg">
                    Mobile Number
                  </div>
                  <!--end::Label-->
          
                  <!--begin::Badge-->
                  <div class="timeline-badge">
                    <i class="fa fa-genderless text-success icon-xl"></i>
                  </div>
                  <!--end::Badge-->
          
                  <!--begin::Content-->
                  <div class="timeline-content d-flex">
                    <span class="font-weight-bolder text-dark-75 pl-3 font-size-lg">+021654454512</span>
                  </div>
                  <!--end::Content-->
                </div>
                <!--end::Item-->
          
                <!--begin::Item-->
                <div class="timeline-item align-items-start">
                  <!--begin::Label-->
                  <div class="timeline-label font-weight-bolder text-dark-75 font-size-lg">
                  Landline Number
                  </div>
                  <!--end::Label-->
          
                  <!--begin::Badge-->
                  <div class="timeline-badge">
                    <i class="fa fa-genderless text-danger icon-xl"></i>
                  </div>
                  <!--end::Badge-->
          
                  <!--begin::Desc-->
                  <div class="timeline-content font-weight-bolder font-size-lg text-dark-75 pl-3">
                    -------
                  </div>
                  <!--end::Desc-->
                </div>
                <!--end::Item-->
          
                <!--begin::Item-->
                <div class="timeline-item align-items-start">
                  <!--begin::Label-->
                  <div class="timeline-label font-weight-bolder text-dark-75 font-size-lg">
                  Store Owner Name
                  </div>
                  <!--end::Label-->
          
                  <!--begin::Badge-->
                  <div class="timeline-badge">
                    <i class="fa fa-genderless text-primary icon-xl"></i>
                  </div>
                  <!--end::Badge-->
          
                  <!--begin::Text-->
                  <div class="timeline-content font-weight-mormal font-size-lg text-muted pl-3">
                    مسوق 1 ت
                  </div>
                  <!--end::Text-->
                </div>
                <!--end::Item-->
          
                <!--begin::Item-->
                <div class="timeline-item align-items-start">
                  <!--begin::Label-->
                  <div class="timeline-label font-weight-bolder text-dark-75 font-size-lg">
                  Store Name
                  </div>
                  <!--end::Label-->
          
                  <!--begin::Badge-->
                  <div class="timeline-badge">
                    <i class="fa fa-genderless text-danger icon-xl"></i>
                  </div>
                  <!--end::Badge-->
          
                  <!--begin::Desc-->
                  <div class="timeline-content font-weight-bolder text-dark-75 pl-3 font-size-lg">
                    مسوق 1 ت
                  </div>
                  <!--end::Desc-->
                </div>
                <!--end::Item-->
          
                <!--begin::Item-->
                <div class="timeline-item align-items-start">
                  <!--begin::Label-->
                  <div class="timeline-label font-weight-bolder text-dark-75 font-size-lg">
                  CRN
                  </div>
                  <!--end::Label-->
          
                  <!--begin::Badge-->
                  <div class="timeline-badge">
                    <i class="fa fa-genderless text-info icon-xl"></i>
                  </div>
                  <!--end::Badge-->
          
                  <!--begin::Text-->
                  <div class="timeline-content font-weight-mormal font-size-lg text-muted pl-3">
                  1111111113
                  </div>
                  <!--end::Text-->
                </div>
                <!--end::Item-->
          
                <!--begin::Item-->
                <div class="timeline-item align-items-start">
                  <!--begin::Label-->
                  <div class="timeline-label font-weight-bolder text-dark-75 font-size-lg">
                  VAT Number
                  </div>
                  <!--end::Label-->
          
                  <!--begin::Badge-->
                  <div class="timeline-badge">
                    <i class="fa fa-genderless text-primary icon-xl"></i>
                  </div>
                  <!--end::Badge-->
          
                  <!--begin::Text-->
                  <div class="timeline-content font-weight-mormal font-size-lg text-muted pl-3">
                  111111111111113
                  </div>
                  <!--end::Text-->
                </div>
                <!--end::Item-->
                <button class="m-auto text-center btn btn-tadween">Location</button>
             

                
                <h4 class="mt-3">Invoices Report</h4>
                <!--begin::Item-->
                <div class="timeline-item align-items-start">
                  <!--begin::Label-->
                  <div class="timeline-label font-weight-bolder text-dark-75 font-size-lg">
                    All invoices
                  </div>
                  <!--end::Label-->
          
                  <!--begin::Badge-->
                  <div class="timeline-badge">
                    <i class="fa fa-genderless text-warning icon-xl"></i>
                  </div>
                  <!--end::Badge-->
          
                  <!--begin::Text-->
                  <div class="font-weight-mormal font-size-lg timeline-content text-muted pl-3">
                    0
                  </div>
                  <!--end::Text-->
                </div>
                <!--end::Item-->
          
                <!--begin::Item-->
                <div class="timeline-item align-items-start">
                  <!--begin::Label-->
                  <div class="timeline-label font-weight-bolder text-dark-75 font-size-lg">
                    Value of All invoices
                  </div>
                  <!--end::Label-->
          
                  <!--begin::Badge-->
                  <div class="timeline-badge">
                    <i class="fa fa-genderless text-success icon-xl"></i>
                  </div>
                  <!--end::Badge-->
          
                  <!--begin::Content-->
                  <div class="timeline-content d-flex">
                    <span class="font-weight-bolder text-dark-75 pl-3 font-size-lg">0</span>
                  </div>
                  <!--end::Content-->
                </div>
                <!--end::Item-->
          
                <!--begin::Item-->
                <div class="timeline-item align-items-start">
                  <!--begin::Label-->
                  <div class="timeline-label font-weight-bolder text-dark-75 font-size-lg">
                    All paied invoices
                  </div>
                  <!--end::Label-->
          
                  <!--begin::Badge-->
                  <div class="timeline-badge">
                    <i class="fa fa-genderless text-danger icon-xl"></i>
                  </div>
                  <!--end::Badge-->
          
                  <!--begin::Desc-->
                  <div class="timeline-content font-weight-bolder font-size-lg text-dark-75 pl-3">
                    0
                  </div>
                  <!--end::Desc-->
                </div>
                <!--end::Item-->
          
                <!--begin::Item-->
                <div class="timeline-item align-items-start">
                  <!--begin::Label-->
                  <div class="timeline-label font-weight-bolder text-dark-75 font-size-lg">
                    Value of payment
                  </div>
                  <!--end::Label-->
          
                  <!--begin::Badge-->
                  <div class="timeline-badge">
                    <i class="fa fa-genderless text-primary icon-xl"></i>
                  </div>
                  <!--end::Badge-->
          
                  <!--begin::Text-->
                  <div class="timeline-content font-weight-mormal font-size-lg text-muted pl-3">
                    655623
                  </div>
                  <!--end::Text-->
                </div>
                <!--end::Item-->
          
                <!--begin::Item-->
                <div class="timeline-item align-items-start">
                  <!--begin::Label-->
                  <div class="timeline-label font-weight-bolder text-dark-75 font-size-lg">
                    Overdue invoices
                  </div>
                  <!--end::Label-->
          
                  <!--begin::Badge-->
                  <div class="timeline-badge">
                    <i class="fa fa-genderless text-danger icon-xl"></i>
                  </div>
                  <!--end::Badge-->
          
                  <!--begin::Desc-->
                  <div class="timeline-content font-weight-bolder text-dark-75 pl-3 font-size-lg">
                   0
                  </div>
                  <!--end::Desc-->
                </div>
                <!--end::Item-->
          
                <!--begin::Item-->
                <div class="timeline-item align-items-start">
                  <!--begin::Label-->
                  <div class="timeline-label font-weight-bolder text-dark-75 font-size-lg">
                    Value Of Invoices
                  </div>
                  <!--end::Label-->
          
                  <!--begin::Badge-->
                  <div class="timeline-badge">
                    <i class="fa fa-genderless text-info icon-xl"></i>
                  </div>
                  <!--end::Badge-->
          
                  <!--begin::Text-->
                  <div class="timeline-content font-weight-mormal font-size-lg text-muted pl-3">
                  92 SAR
                  </div>
                  <!--end::Text-->
                </div>
                <!--end::Item-->
          
                <!--begin::Item-->
                <div class="timeline-item align-items-start">
                  <!--begin::Label-->
                  <div class="timeline-label font-weight-bolder text-dark-75 font-size-lg">
                    Payment Date
                  </div>
                  <!--end::Label-->
          
                  <!--begin::Badge-->
                  <div class="timeline-badge">
                    <i class="fa fa-genderless text-primary icon-xl"></i>
                  </div>
                  <!--end::Badge-->
          
                  <!--begin::Text-->
                  <div class="timeline-content font-weight-mormal font-size-lg text-muted pl-3">
                  22/10/2020
                  </div>
                  <!--end::Text-->
                </div>
                <!--end::Item-->
                <button class="m-auto text-center btn btn-tadween"> Client Invoices </button>





              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
