/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700");
// Global vendors
@import "~bootstrap/dist/css/bootstrap.css";
// => Material
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@import "~highlight.js/styles/googlecode.css";
@import "~perfect-scrollbar/css/perfect-scrollbar.css";

// Global fonts
@import "~socicon/css/socicon.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "./assets/plugins/flaticon/flaticon.css";
@import "./assets/plugins/flaticon2/flaticon.css";
@import "./assets/plugins/keenthemes-icons/font/ki.css";

// Metronic styles (replace these path when using RTL css below)
@import "./assets/sass/style.angular.scss";

// For RTL, check this documentation https://keenthemes.com/metronic/?page=docs&section=angular-rtl
// @import "./assets/sass/style.angular.rtl.css";

// Default Layout themes
@import "./assets/sass/themes/layout/header/base/light.scss";
@import "./assets/sass/themes/layout/header/menu/light.scss";
@import "./assets/sass/themes/layout/brand/dark.scss";
@import "./assets/sass/themes/layout/aside/dark.scss";

// Header themes
// .header-base-light {
//     @import "./assets/sass/themes/layout/header/base/light.scss";
// }

// .header-base-dark {
//     @import "./assets/sass/themes/layout/header/base/dark.scss";
// }

// Header Menu themes
// .header-menu-light {
//     @import "./assets/sass/themes/layout/header/menu/light.scss";
// }
// .header-menu-dark {
//     @import "./assets/sass/themes/layout/header/menu/dark.scss";
// }

// Brand themes
.brand-dark {
  @import "./assets/sass/themes/layout/brand/dark.scss";
}

.brand-light {
  @import "./assets/sass/themes/layout/brand/light.scss";
}

// Aside themes
// .aside-dark {
//   @import "./assets/sass/themes/layout/aside/dark.scss";
// }

// .aside-light {
//   @import "./assets/sass/themes/layout/aside/light.scss";
// }

// hide bootstrap dropdown arrow globally
.dropdown-toggle::after {
  display: none !important;
}

.angular-bootstrap-table {
  overflow-x: auto;
}
.angular-bootstrap-table {
  th {
    outline: none;

    &.sortable {
      .svg-icon-sort {
        opacity: 0;
      }

      &:hover {
        cursor: pointer;

        .svg-icon-sort {
          opacity: 1;
        }
      }
    }
  }

  .table.table-head-custom thead th.sortable-active {
    color: $primary !important;
  }
}

.cursor-default {
  cursor: default !important;
}

.progress-modal {
  height: 3px;
  width: 100%;
}
.btn-tadween{
  background-color: #00928a !important; 
  border-color: #00928a !important;
  color: #fff !important;
  transition: all 0.3s ease-in-out;
}
.btn-tadween:hover{
  background-color: #004740;
  border-color: #004740;
  color: #fff !important;
}
.tadween-color{color: #00928a !important;}
.prefix{
  width: 150px !important;
}
.p-dropdown{background-color: transparent !important;
  border: 0 !important;width: 100% !important;}
  // Tadween Style
  .tadween-list {
    box-shadow: 0px 0 13px -5px #aaa;
    background-color: #fff;
    padding: 5px;
    border-radius: 15px;
    margin: 10px 0;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.tadween-list .tadween-list-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.tadween-list .tadween-list-info {
  margin: 0 10px;
}
.tadween-list .tadween-list-info > div {
  display: inline-block;
  margin: 0 10px;
}
.tadween-list .tadween-list-info h5 {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 16px;
}
.tadween-list .tadween-list-info > div p {
  color: #aaa;
  font-size: unset;
}
.tadween-list .tadween-list-info .aggrement {
  display: block;
}
.tadween-list .tadween-list-info > div span {
  font-size: 11px;
}
.voucher .modal .modal-dialog{width: 60% !important;max-width: 60% !important;}
.fa.showPassword{
  position: absolute;
  bottom: 25px;
  right: 25px;
}